/**
 *此样式带(全选)的table公共样式
 *创建者ycl 时间2020-01-05
**/
.common-table-pattern{
  /deep/
  .common-table{
    width: 100%;
    font-family: PingFangMedium;
    /deep/
    .el-table__header-wrapper{
      .el-table__header{
        thead.has-gutter{
          th{
            background: #F8F8F8;
            .cell{
              color: #333;
            }
          }
          th:nth-child(1){
            .cell{
              padding: 0;
              text-align: right;
              color: #999;
            }
          }
          th:nth-child(2){
            .cell{
              .el-checkbox__input{
                vertical-align: baseline!important;
              }
            }
          }
        }
      }
    }
    .new_dot {
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background: #ff5f5c;
      float: right;
    }
  }
  /deep/
  .el-pagination{
    text-align: center;
    margin: 20px 0;
  }
  /deep/
  .dropdown_ul_box{
    width: 148px!important;
  }
}



